<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LaptopPriv"
				 connectionString ="Data Source=localhost;Initial Catalog=ChatDb;Integrated Security=True;TrustServerCertificate=True;"/>
		<add name="LaptopWork"
			 connectionString ="Data Source=BPX-SIEWISE2;Initial Catalog=ChatDb;Integrated Security=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>